[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
wordcloud = "*"
matplotlib = "*"
seaborn = "*"
textblob = "*"
neattext = "*"
nltk = "*"
pypdf = "*"
pdfminer = "*"
docx2txt = "*"
pdfplumber = "*"
scikit-learn = "*"
matplotlib-venn = "*"
plotly-express = "*"

[dev-packages]

[requires]
python_version = "3.8"
